/* Header */
.wp-container-2.is-position-sticky {
    padding-left: 20px;
    background-color: #fff7b2;
}

/* Post images on the home page (before we decided to hide them; see below). */
body.home ul.wp-block-post-template li.wp-block-post > div.wp-block-group figure {
    float: right;
    padding-left: var(--wp--preset--spacing--40);
    padding-bottom: var(--wp--preset--spacing--40);
}

body.home ul.wp-block-post-template li.wp-block-post > div.wp-block-group figure img {
    max-width: 20vw;
}

body.home #pinned-text p:first-of-type {
    margin-top: 0;
}

@media (max-width: 781px) {
    body.home ul.wp-block-post-template li.wp-block-post > div.wp-block-group figure img {
        max-width: 40vw;
    }
}

@media (max-width: 500px) {
    body.home ul.wp-block-post-template li.wp-block-post > div.wp-block-group figure {
        float: none;
        padding-left: 0;
        padding-bottom: 0;
    }

    body.home ul.wp-block-post-template li.wp-block-post > div.wp-block-group figure img {
        max-width: 100%;
    }
}

/* A corny way of removing post images from the list on the home page. */
body.home ul.wp-block-post-template li.wp-block-post > div.wp-block-group figure.wp-block-post-featured-image {
    display: none;
}

/* Pinned text */
#pinned-text {
    background-color: #fff59e;
}

#pinned-text a:where(:not(.wp-element-button)) {
    color: var(--wp--preset--color--contrast);
    text-decoration: none;
}

a:where(:not(.wp-element-button)) {
    color: var(--wp--preset--color--contrast);
}

#pinned-text a:where(:not(.wp-element-button)):hover {
    text-decoration: underline;
    color: var(--wp--preset--color--contrast);
}

/* Top nav */
.wp-block-navigation__responsive-container.is-menu-open {
    padding-top: clamp(1rem,var(--wp--preset--spacing--70),20rem);
}

.has-modal-open .wp-block-navigation__responsive-close {
    margin-left: 0;
}

.wp-block-navigation:not(.has-text-color) .wp-block-navigation__responsive-container.is-menu-open {
    background-color: rgb(34, 55, 89);
    color: #fff;
}

.wp-block-navigation__responsive-container.hidden-by-default ul.wp-block-page-list li {
    margin-bottom: 1.5rem;
}

.wp-block-navigation__responsive-container-close {
    right: auto;
    left: 0;
}